.post-enter {
    transform: translateX(-350px);
  }
  .post-enter-active {
    transform: translate(0px);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50deg,50deg);
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.header {
  background-color: #333;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: #ffcc00;
}
/* MySelect.module.css */

.mySelect {
  width: 200px; /* Задает ширину селекта */
  padding: 10px; /* Внутренние отступы */
  border-radius: 5px; /* Скругление углов */
  border: 1px solid #ccc; /* Цвет и ширина границы */
  background-color: #f9f9f9; /* Цвет фона */
  font-size: 16px; /* Размер шрифта */
  color: #333; /* Цвет текста */
  outline: none; /* Убирает синюю рамку при фокусе */
  transition: border-color 0.3s ease; /* Плавный переход для границы */
}

.mySelect:hover {
  border-color: #888; /* Цвет границы при наведении */
}

.mySelect:focus {
  border-color: #555; /* Цвет границы при фокусе */
}

.mySelect option {
  padding: 10px; /* Внутренние отступы для опций */
  color: #333; /* Цвет текста для опций */
  background-color: #fff; /* Цвет фона для опций */
}
* {
  padding: 0;
  margin: 0;
}
.postItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 10px auto;
  /* text-align: center; */
  width: 80%;
  overflow-wrap: break-word;
}

.textContainer {
  display: flex;
align-items: center;
justify-content: space-between;
gap: 60px;
width: 80%;

  /* text-align: center; */
  /* align-items: center; */
}

.title {
  font-weight: bold;
  width: 30%;
}

.content {
  margin-top: 5px;
  color: #555;
  width: 60%;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
/* index.css */
.post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.post-body {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}

.comments-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #444;
}

.comment-item {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.comment-name {
  font-weight: bold;
  color: #333;
}

.loading,
.not-found {
  text-align: center;
  margin-top: 20px;
  color: red;
}
